In [1]:
%load_ext sql

In [2]:
%sql sqlite:///ABC_DATA.db

In [3]:
%%sql CREATE TABLE customers(
customer_id INT,
first_name VARCHAR(30),
last_name VARCHAR(30),
email VARCHAR(50)
);

 * sqlite:///ABC_DATA.db
Done.

[]

In [4]:
%%sql CREATE TABLE products(
  product_id INT,
  product_name VARCHAR(50),
  price DECIMAL
);

 * sqlite:///ABC_DATA.db
Done.

[]

In [5]:
%%sql CREATE TABLE orders(
    order_id INT,
    customer_id INT,
    order_date DATE
);

 * sqlite:///ABC_DATA.db
Done.

[]

In [6]:
%%sql CREATE TABLE order_items(
    order_id INT,
    product_id INT,
    quantity INT
);

 * sqlite:///ABC_DATA.db
Done.

[]

In [8]:
%%sql INSERT INTO customers VALUES
(1,'Joe','Doe','johndoe@email.com');

 * sqlite:///ABC_DATA.db
1 rows affected.

[]

In [9]:
%%sql INSERT INTO products VALUES
(1,'Product A',10.00);

 * sqlite:///ABC_DATA.db
1 rows affected.

[]

In [7]:
%%sql INSERT INTO orders VALUES
(1,1,2023-05-01);

 * sqlite:///ABC_DATA.db
1 rows affected.

[]

In [10]:
%%sql INSERT INTO order_items VALUES
(1,1,2);

 * sqlite:///ABC_DATA.db
1 rows affected.

[]

In [11]:
%sql SELECT * FROM customers;

 * sqlite:///ABC_DATA.db
Done.

[(1, 'Joe', 'Doe', 'johndoe@email.com')]

In [12]:
%sql SELECT * FROM products;

 * sqlite:///ABC_DATA.db
Done.

[(1, 'Product A', 10)]

In [13]:
%sql SELECT * FROM orders;

 * sqlite:///ABC_DATA.db
Done.

[(1, 1, 2017)]

In [14]:
%sql SELECT * FROM order_items;

 * sqlite:///ABC_DATA.db
Done.

[(1, 1, 2)]